<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary_bg }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.meta_description != blank %}
    <meta name="description" content="{{ settings.meta_description }}">
  {% endif %}

  <title>
    {{ shop.name }} {% if page_title != blank %}- {{ page_title }}{% endif %}
  </title>

  {{ content_for_header }}

  {% comment %}
    Add any additional CSS or JS here that should be loaded globally.
    Consider using asset_url for theme assets.
  {% endcomment %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
</head>

<body class="font-body text-text-primary bg-primary-bg">
  {% section 'header' %}

  <main id="MainContent" class="main-content">
    {{ content_for_layout }}
  </main>

  {% comment %}
    Add a footer section here if desired.
  {% endcomment %}

  {{ content_for_footer }}
</body>
</html>
